repos:
- repo: https://github.com/ambv/black
  rev: 22.6.0
  hooks:
  - id: black
    args: [--safe, --quiet]
    language_version: python3
- repo: https://github.com/pycqa/isort
  rev: 5.6.4
  hooks:
  - id: isort
    language_version: python3
- repo: https://gitlab.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    language_version: python3
